{% extends '@Contao/block_unsearchable' %}

{% block content %}
    <div class="mod_staging_installation_banner_inner">
        <img src="bundles/markocupiccontaostaginginstallationbanner/icons/icon.svg"></img> {{ 'MSC.staging_system'|trans({}, 'contao_default') }}
    </div>
{% endblock %}
