{% extends '@Contao/block_unsearchable' %}

{% block content %}
    <div class="mod_staging_installation_banner_inner"{% if bannerCSS|default %} style="{{ bannerCSS }}"{% endif %}>
        <img src="bundles/markocupiccontaostaginginstallationbanner/icons/icon.svg"></img> {{ bannerText }}
    </div>
{% endblock %}
