{% autoescape false %}
    <div id="staging_installation_indicator">
        <div id="staging_installation_indicator_inner">
            <img src="bundles/markocupiccontaostaginginstallationbanner/icons/icon.svg"></img> {{ 'MSC.staging_system'|trans({}, 'contao_default') }}
        </div>
    </div>
{% endautoescape %}
