{% autoescape false %}
    <div id="staging_installation_indicator">
        <div id="staging_installation_indicator_inner"{% if banner_css|default %} style="{{ banner_css }}"{% endif %}>
            <img src="bundles/markocupiccontaostaginginstallationbanner/icons/icon.svg"></img> {{ banner_text }}
        </div>
    </div>
{% endautoescape %}
